/* CSS definition file containing site stylesheet */
body {}
#content {width:100%; margin-left:5% auto;margin-right:5% auto;}
#footer {font-size: small; font-style:italic;text-align:center;}
.row>div {margin-bottom:10px;}
#left{width:600px; height:auto; float:left; display:inline;
  background-color: #B4B4B4;
  color: #2b62a1;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
#right{width:400px; height:auto; float:right; display:inline;
  background-color: #484848;
  color: #9975d2;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.navbar-inner{
    text-align: center;
}
#outer{
    border-collapse: collapse;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 45%;
}

th, td {
    text-align: left;
    padding: 8px;
}



th {
    background-color: #4CAF50;
    color: white;
}


.content {
  display: grid;
  grid-template-columns: repeat(4,  150px  10px);
  grid-template-rows: repeat(2,  auto 10px);
  background-color: #fff;
  color: #ff00ff;
}


/* tr:nth-child(even){background-color: #f2f2f2}
.resetBtn {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
*/

a .botimg { display:none; }
a:hover .botimg { display:block; }